<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <%= render :partial => 'producer', :collection => @producers %>
</table>

<p><%= link_to 'Add a new producer', :action => 'new' %></p>
