<table>
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Borrar</th>
  </tr>

  <%= render :partial => 'director', :collection => @directors %>
</table>

<p><%= link_to 'Añadir a un nuevo director', :action => 'new' %></p>
